/* ================= GENERAL ================= */

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}

body{

background:#f5f5f5;

}

/* ================= NAVBAR ================= */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:white;
box-shadow:0 2px 8px rgba(0,0,0,.1);
height: 80px;

}

.logo{

display:flex;
align-items:center;

}

.logo img{

width:180px;
margin-right:10px;
height:auto;
}


.navbar ul{

display:flex;
list-style:none;

}

.navbar ul li{

margin:0 12px;

}

.navbar ul li a{

text-decoration:none;
font-weight:bold;
color:#002b5b;
padding-bottom:8px;

}

.navbar ul li a:hover,
.active{

color:#c89b2f;
border-bottom:3px solid #c89b2f;

}

.icons{

display:flex;
align-items:center;

}

.search-box{

display:flex;
border:1px solid #ccc;
border-radius:5px;
overflow:hidden;

}

.search-box input{

padding:8px;
width:160px;
border:none;
outline:none;

}

.search-box button{

background:#002b5b;
color:white;
border:none;
padding:8px 12px;
cursor:pointer;

}

.icons a{

margin-left:18px;
font-size:22px;
color:#002b5b;
text-decoration:none;

}

.icons a:hover{

color:#c89b2f;

}

/* ================= HERO ================= */

.hero{

display:flex;
justify-content:space-between;
align-items:center;
padding:50px;
background:#061d42;

}

.hero-text{

width:42%;
color:white;

}

.hero-text h5{

color:#c89b2f;
margin-bottom:15px;

}

.hero-text h1{

font-size:52px;
margin-bottom:15px;

}

.hero-text span{

color:#33b5ff;

}

.line{

width:70px;
height:4px;
background:#33b5ff;
margin:20px 0;

}

.hero-text p{

line-height:28px;
font-size:17px;
margin-bottom:25px;

}

.hero-btn{

background:#c89b2f;
padding:14px 28px;
text-decoration:none;
color:white;
border-radius:5px;
font-weight:bold;

}

.hero-btn:hover{

background:white;
color:#002b5b;

}

.hero-image{

width:52%;

}

.hero-image img{

width:100%;
border-radius:10px;

}

/* ================= TITLE ================= */

.title{

background:white;
text-align:center;
padding:45px;

}

.title h2{

font-size:38px;
color:#002b5b;

}

.line2{

width:60px;
height:4px;
background:#c89b2f;
margin:15px auto;

}

.title p{

font-size:18px;
color:#666;

}
/* ================= SERVICES ================= */

.cyber-services{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
padding:40px;

}

.cyber-card{

background:white;
width:30%;
padding:25px;
border-radius:8px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,.15);
transition:.3s;

}

.cyber-card:hover{

transform:translateY(-8px);

}

.icon{

width:70px;
height:70px;
background:#002b5b;
color:white;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
margin:auto;
margin-bottom:20px;

}

.cyber-card h3{

color:#002b5b;
margin-bottom:15px;

}

.cyber-card p{

line-height:25px;
color:#555;
margin-bottom:20px;

}

.cyber-card a{

background:#002b5b;
color:white;
padding:10px 18px;
text-decoration:none;
border-radius:5px;
display:inline-block;

}

.cyber-card a:hover{

background:#33b5ff;

}

/* ================= WHY CHOOSE US ================= */

.why-us{

display:flex;
justify-content:space-between;
align-items:center;
background:white;
margin:40px;
padding:40px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.1);

}

.why-image{

width:45%;

}

.why-image img{

width:100%;
border-radius:8px;

}

.why-content{

width:50%;

}

.why-content h2{

color:#002b5b;
font-size:35px;

}

.point{

display:flex;
margin-top:25px;

}

.point i{

font-size:24px;
color:#33b5ff;
margin-right:15px;
margin-top:5px;

}

.point h3{

color:#002b5b;
margin-bottom:8px;

}

.point p{

color:#555;
line-height:24px;

}
/* ================= CONTACT SECTION ================= */

.security-contact{

background:#002b5b;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:40px 60px;
margin:40px;
border-radius:10px;

}

.contact-left{

display:flex;
align-items:center;
width:70%;

}

.contact-left i{

font-size:55px;
color:#33b5ff;
margin-right:20px;

}

.contact-left h2{

font-size:32px;
margin-bottom:10px;

}

.contact-left p{

font-size:17px;
line-height:28px;

}

.contact-right a{

background:#c89b2f;
color:white;
text-decoration:none;
padding:15px 35px;
font-weight:bold;
border-radius:6px;
transition:.3s;

}

.contact-right a:hover{

background:white;
color:#002b5b;

}

/* FOOTER */

footer{

background:#001c3d;

color:white;

margin-top:0;

}

.footer-container{

display:flex;

justify-content:space-between;

padding:50px;

}

.footer-about p {

padding-top: 25px;

}

.footer-links{

display:flex;

flex-direction:column;

}

.footer-links a{

color:white;

text-decoration:none;

margin:8px 0;

}

.footer-links a:hover{

color:gold;

}

.footer-contact p{

margin:10px 0;

}

.bottom-footer{

background:#000f24;

text-align:center;

padding:15px;

}


/* ================= SOCIAL ================= */

.social{

margin-top:20px;

}

.social a{

display:inline-block;
width:40px;
height:40px;
background:#c89b2f;
color:white;
text-align:center;
line-height:40px;
border-radius:50%;
margin-right:10px;
transition:.3s;

}

.social a:hover{

background:#33b5ff;
color:white;

}

/* ================= COPYRIGHT ================= */

.copyright{

background:#000f24;
text-align:center;
padding:18px;
font-size:15px;

}