/* ================= GENERAL ================= */

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}

body{

background:#f5f5f5;

}

/* ================= NAVBAR ================= */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:white;
box-shadow:0 2px 8px rgba(0,0,0,.1);
height: 80px;

}

.logo{

display:flex;
align-items:center;

}

.logo img{

width:180px;
height:auto;
margin-right:10px;

}


.navbar ul{

display:flex;
list-style:none;

}

.navbar ul li{

margin:0 12px;

}

.navbar ul li a{

text-decoration:none;
font-weight:bold;
color:#002b5b;
padding-bottom:8px;

}

.navbar ul li a:hover,
.active{

color:#c89b2f;
border-bottom:3px solid #c89b2f;

}

.icons{

display:flex;
align-items:center;

}

.search-box{

display:flex;
border:1px solid #ccc;
border-radius:5px;
overflow:hidden;

}

.search-box input{

padding:8px;
width:160px;
border:none;
outline:none;

}

.search-box button{

background:#002b5b;
color:white;
border:none;
padding:8px 12px;
cursor:pointer;

}

.icons a{

margin-left:18px;
font-size:22px;
color:#002b5b;
text-decoration:none;

}

.icons a:hover{

color:#c89b2f;

}

/* ================= HERO ================= */

.hero{

display:flex;
justify-content:space-between;
align-items:center;
padding:40px;
background:#eef3fb;

}

.hero-text{

width:40%;

}

.hero-text h5{

color:#c89b2f;
margin-bottom:15px;

}

.hero-text h1{

font-size:50px;
color:#002b5b;
margin-bottom:15px;

}

.hero-text span{

color:#c89b2f;

}

.line{

width:70px;
height:4px;
background:#c89b2f;
margin:20px 0;

}

.hero-text p{

font-size:17px;
line-height:28px;

}

.hero-image{

width:55%;

}

.hero-image img{

width:100%;
border-radius:8px;

}

/* ================= TITLE ================= */

.title{

text-align:center;
padding:45px;
background:white;

}

.title h2{

color:#002b5b;
font-size:38px;

}

.line2{

width:60px;
height:4px;
background:#c89b2f;
margin:15px auto;

}

.title p{

color:#666;
font-size:18px;

}
/* ================= SERVICE CARDS ================= */

.services{

display:flex;
justify-content:center;
gap:20px;
padding:40px;
flex-wrap:wrap;

}

.service-card{

background:white;
width:18%;
padding:20px;
text-align:center;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,.15);
transition:.3s;

}

.service-card:hover{

transform:translateY(-8px);

}

.icon{

width:70px;
height:70px;
background:#c89b2f;
color:white;
margin:auto;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
margin-bottom:20px;

}

.service-card h3{

color:#002b5b;
margin-bottom:8px;
font-size:22px;

}

.service-card h4{

color:#666;
margin-bottom:15px;

}

.service-card p{

line-height:25px;
color:#555;
margin-bottom:20px;

}

.service-card a{

background:#002b5b;
color:white;
padding:10px 18px;
text-decoration:none;
border-radius:5px;
display:inline-block;

}

.service-card a:hover{

background:#c89b2f;

}

/* ================= BLUE SECTION ================= */

.partner{

background:#002b5b;
color:white;
margin:40px;
padding:35px;
border-radius:10px;
display:flex;
justify-content:space-between;
align-items:center;

}

.partner-left{

display:flex;
align-items:center;
width:50%;

}

.partner-left i{

font-size:55px;
color:#c89b2f;
margin-right:20px;

}

.partner-icons{

display:flex;
gap:35px;

}

.partner-icons div{

text-align:center;

}

.partner-icons i{

font-size:35px;
color:#c89b2f;
margin-bottom:10px;

}
/* ================= CONTACT STRIP ================= */

.contact-strip{

background:#002b5b;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:40px 60px;
margin:40px;

border-radius:10px;

}

.left-contact{

width:70%;

}

.left-contact h2{

font-size:34px;
margin-bottom:15px;

}

.left-contact p{

font-size:18px;
line-height:28px;

}

.right-contact a{

background:#c89b2f;
color:white;
padding:15px 35px;
text-decoration:none;
font-weight:bold;
border-radius:6px;

}

.right-contact a:hover{

background:white;
color:#002b5b;

}

/* FOOTER */

footer{

background:#001c3d;

color:white;

margin-top:0;

}

.footer-container{

display:flex;

justify-content:space-between;

padding:50px;

}

.footer-about p {

padding-top: 25px;

}

.footer-links{

display:flex;

flex-direction:column;

}

.footer-links a{

color:white;

text-decoration:none;

margin:8px 0;

}

.footer-links a:hover{

color:gold;

}

.footer-contact p{

margin:10px 0;

}

.bottom-footer{

background:#000f24;

text-align:center;

padding:15px;

}


/* ================= SOCIAL ================= */

.social{

margin-top:20px;

}

.social a{

display:inline-block;
width:40px;
height:40px;
background:#c89b2f;
color:white;
text-align:center;
line-height:40px;
border-radius:50%;
margin-right:10px;

}

.social a:hover{

background:white;
color:#002b5b;

}

/* ================= COPYRIGHT ================= */

.copyright{

background:#000f24;
text-align:center;
padding:18px;
font-size:15px;

}